POSTGRES_USER=mlflow
POSTGRES_PASSWORD=mlflow
POSTGRES_DB=mlflow

MLFLOW_EXPERIMENT_NAME=hydrocarbon-forecast
MODEL_NAME=hydrocarbon-forecast-model

# airflow
AIRFLOW_DB=airflow
# python3 -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
AIRFLOW_FERNET_KEY=CHANGE_ME
# openssl rand -hex 32
AIRFLOW_SECRET_KEY=CHANGE_ME
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin
AIRFLOW_UID=50000
AIRFLOW_GID=0
